.mainDiv {
  width: 100vw;
  height: 100vh;
  background-color: burlywood;
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.startColumn {
  max-width: 100%;
  background: transparent;
  overflow: hidden;
  padding: 10px;
}
.chatColumn {
  max-width: 100%;
  background: transparent;
  overflow: hidden;
  padding: 10px;
}
