.spinnerMain {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.525); /* Adjust the opacity value (0.5 here) */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 999; /* Adjust the z-index as needed */
}

.spinner {
    width: 30px;
    height: 30px;
    margin: 10px;
    background-color: transparent;
    border: solid yellow;
    border-width: 5px;
    border-top: 5px solid black;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
