.main {
  /* background-color: #290d4d; */
  background:transparent;
  border: 3px solid burlywood;
  color: antiquewhite;
  height: 7vh; /* Adjust the height to suit your design */
  display: flex;
  border-radius: 100px;
  margin: 2%; /* Optional: Add padding to provide some space around the textarea */
}
.btn {
  margin-left: 20px;
  height: 100%;
  width: auto; /* Allow button to size according to content */
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 5px; /* Add padding for better touch/click target */
}
#search-box {
  background: transparent;
  border: none;
  margin-left: 10px;
  width: 100%;
  font-size: 16px;
  padding: 10px;
  border-radius: 100px;
  margin: 10px;
}
input {
  color: antiquewhite;
}
