.container {
  background-color: burlywood;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-image: url(/image.png);
}
.top {
  z-index: 999;
}
.talk {
  overflow: auto;
}
.bottom {
  z-index: 999;
  margin-top: auto;
}

.my-msg {
  display: flex;
  justify-content: end;
}
.my-msg div {
  margin: 10px;
  padding: 5px;
  background-color: #12a95b;
  width: fit-content;
  max-width: 30%;
  border-radius: 5px;
  font-size: large;
  color: rgb(6, 4, 1);
}

.ur-msg {
  display: flex;
  justify-content: start;
}
.ur-msg div {
  margin: 10px;
  padding: 5px;
  background-color: #9a9a9a;
  max-width: 30%;
  width: fit-content;
  border-radius: 5px;
  font-size: large;
  color: rgb(6, 4, 1);
}

.no-chats-message{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}
